
body {
    font-family: Helvetica, Arial, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#hud {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 5px;
}

#hud a {
    text-decoration: underline;
    color: #333333;
    font-weight: bold;
}

#hud a:link {
    color: #333333;
}

#hud a:visited {
    color: #333333;
}